@model IEnumerable<Blog.Models.tb_comments>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.article_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment_like_count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment_content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parent_comment_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_users.user_ip)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.article_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment_like_count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment_content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.parent_comment_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_users.user_ip)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.comment_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.comment_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.comment_id })
        </td>
    </tr>
}

</table>
